<% if current_user && current_user.has_favorites? %>
  <% current_user.places.each do |place| %>
    <article>
      <p>The weather in <%=place.name%> is described as <%=weather_description(place.name)%>.</p>
      <p>The max temp is <%=max_temperature(place.name)%>°C</p>
      <p>The min temp is <%=min_temperature(place.name)%>°C</p>
      <div class="giphy-container"><img src="<%=get_gif(giphy_weather_description(place.name))%>"></div>
      <form class="remove-favorite-form" method="post" action="/favorites/<%=place.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Remove">
      </form>
    </article
  <% end %>
<% end %>
