<div class="container">
  <div class="container-fluid">
    <h1>Welcome to the Weather</h1>
  </div>

  <div class="row">
    <div class="col-4">
      <p>The weather in <%=@current_location%> is described as <%=weather_description(@current_location)%>.</p>
      <p>The max temp is <%=max_temperature(@current_location)%>°C</p>
      <p>The min temp is <%=min_temperature(@current_location)%>°C</p>
      <img id="main" src="<%=get_gif(giphy_weather_description(@current_location))%>">
    </div>

    <div class="col-4">
      <form id="pick-city-form" method="post" action="/cities">
        <input type="text" name="city" placeholder="City Name">
        <input type="submit" value="Get Weather">
      </form>
    </div>
    <div id="requested-city-info" class="col-4">
      <%= erb :'partials/_city_details', layout: false %>
    </div>






    <%if false%>

    <div class="col">
      <% @places.each do |place| %>
        <div class="col-1"
          <form class="pick-favorite-form" method="post" action="/">
            <input type="hidden" name="place" value="<%=place.name%>">
            <input type="submit" value="<%=place.name%>">
          </form>
        </div>
      <% end %>
    </div>

    <div class="col">
      <%= erb :'partials/_favorites', layout: false %>
    </div>
    <%end%>

  </div>
</div>